[submodule "vendor/base16-shell"]
	path = vendor/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "vendor/vim-plug"]
	path = vendor/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "vendor/base16-xresources"]
	path = vendor/base16-xresources
	url = git@github.com:chriskempson/base16-xresources.git
[submodule "vendor/base16-zathura"]
	path = vendor/base16-zathura
	url = git@github.com:esn89/base16-zathura.git
[submodule "vendor/powerline-fonts"]
	path = vendor/powerline-fonts
	url = git@github.com:powerline/fonts.git
[submodule "vendor/meslo"]
	path = vendor/meslo
	url = git@github.com:andreberg/Meslo-Font.git
[submodule "vendor/urxvt-font-size"]
	path = vendor/urxvt-font-size
	url = git@github.com:majutsushi/urxvt-font-size.git
[submodule "vendor/zgen"]
	path = vendor/zgen
	url = git@github.com:tarjoilija/zgen.git
