[submodule "vendor/base16-shell"]
	path = vendor/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "vendor/vim-plug"]
	path = vendor/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "marker/.marker"]
	path = marker/.marker
	url = https://github.com/pindexis/marker
[submodule "vendor/erd"]
	path = vendor/erd
	url = git://github.com/BurntSushi/erd
[submodule "vendor/zplugin"]
	path = vendor/zplugin
	url = https://github.com/zdharma/zplugin.git
[submodule "vendor/elixir-ls"]
	path = vendor/elixir-ls
	url = https://github.com/elixir-lsp/elixir-ls.git
[submodule "vendor/delta"]
	path = vendor/delta
	url = git@github.com:dandavison/delta.git
[submodule "vendor/lua-ls"]
	path = vendor/lua-ls
	url = git@github.com:sumneko/lua-language-server.git
