# notes
note_tags

# vim
vim/.netrwhist
vim/.ycm_extra_conf.pyc
vim/cache
vendor/plugged
vendor/npm
npm-debug.log
plug.vim

# weechat
weechat/logs
weechat/ssl
weechat/*.log
weechat/slack.cache
weechat/urlserver_list.txt

# mps
mps*/cache*
mps*/input_history
mps*/transcode
