# notes
note_tags

# vim
vim/.netrwhist
vim/.ycm_extra_conf.pyc
vim/cache
vim/.vim/undo
neovim/.config/nvim/undo
npm-debug.log
plug.vim
vendor/plugged
vendor/nplugged
vendor/*.ti
vim/autoload/
vim/view

# weechat
weechat/logs
weechat/ssl
weechat/*.log
weechat/slack.cache
weechat/urlserver_list.txt

# mps
mps*/cache*
mps*/input_history
mps*/transcode

# sh
.env

# tmux
/tmux/.tmux/resurrect

# weechat
sec.conf

# autokey
autokey.log
autokey.pid
