[submodule "vendor/base16-shell"]
	path = vendor/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "vendor/vim-plug"]
	path = vendor/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "marker/.marker"]
	path = marker/.marker
	url = https://github.com/pindexis/marker
