snippet readme "README.md"
# $1

> $0


## Setup

\`\`\`sh
$ npm install
\`\`\`

### Run

\`\`\`sh
$ npm start
\`\`\`

## License

MIT © [Carlos Rosquillas](http://carlosanton.io)
endsnippet

snippet code "Code block"
\`\`\`${1:sh}
$0
\`\`\`
endsnippet
