priority 10

extends javascript

snippet jdm "TSDoc multi-line comment"
/**
 * $0
 */
endsnippet

snippet jdp "TSDoc parameter"
@param $1 - ${0:TODO: Description}
endsnippet

snippet jdr "TSDOC return"
@returns $0
endsnippet
