snippet eslint "Local ESLint"
au BufEnter *.js let b:neomake_javascript_eslint_exe = nrun#Which('eslint')
endsnippet

snippet eslint "ESLint Daemon"
au BufEnter *.js let b:neomake_javascript_eslint_exe = nrun#Which('eslint_d')
endsnippet
